body {
	font-family: Verdana;
	font-size: 10pt;
	padding: 10px 0px 0px 15px;
}

table {
	font-family: Verdana;
	font-size: 10pt;
}

table.exemplos td {
	border: 1px dotted gray;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

table.exemplos th {
	background-color: black;
	color: white;
	padding: 5px;
}

table.historico caption {
	font-weight: bold;
	text-shadow: gray;
	font-size: 125%;
	text-align: left;
	background-color: #DDDDDD;
	padding: 6px;
}

table.dados {
	border: 2px solid black;
}

table.dados td {
	border: 1px dotted black;
}

table.dados th {
	border: 1px solid black;
	background-color: lightgray;
	color: black;
	padding: 4px;
}

table.dados caption {
	font-size: 12pt;
	font-weight: bold;
	border: 1px dotted black;
	background-color: PowderBlue;
	padding: 4px;
}

table.tela {
	border: 4px dotted black;
}

table.botoes td {
	border: 1px dotted gray;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}


a.H3{
	padding-left: 20px;
}
a.H4{
	padding-left: 50px;
}
a.H5{
	padding-left: 95px;
}
a.H6{
	padding-left: 153px;
}

h1 {
	background: -webkit-linear-gradient(top, white, #B8B8B8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top,  white, #B8B8B8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top,  white, #B8B8B8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top,  white, #B8B8B8); /* Standard syntax (must be last) */
	background-color: #B8B8B8;
	padding: 5px 10px;
}

h2{
	background: -webkit-linear-gradient(top, white, #E0E0E0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top,  white, #E0E0E0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top,  white, #E0E0E0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top,  white, #E0E0E0); /* Standard syntax (must be last) */
	background-color: #E0E0E0;
	padding: 5px 20px;
}

h3{
	background: -webkit-linear-gradient(left, white, #EEEEEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,  white, #EEEEEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,  white, #EEEEEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left,  white, #EEEEEE); /* Standard syntax (must be last) */
	background-color: #EEEEEE;
	padding: 5px 20px;
}

h4 {
	background: -webkit-linear-gradient(left, white, #FFFFEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,  white, #FFFFEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,  white, #FFFFEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left,  white, #FFFFEE); /* Standard syntax (must be last) */
	background-color: #EEEEEE;
	padding: 5px 20px;
}

h5 {
	background: -webkit-linear-gradient(left, white, #FFFFEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,  white, #FFFFEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,  white, #FFFFEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left,  white, #FFFFEE); /* Standard syntax (must be last) */
	background-color: #EEEEEE;
	padding: 5px 20px;
}

h6 {
	background: -webkit-linear-gradient(left, white, #FFFFEE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,  white, #FFFFEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,  white, #FFFFEE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left,  white, #FFFFEE); /* Standard syntax (must be last) */
	background-color: #EEEEEE;
	padding: 5px 20px;
}

li {
	padding: 2px;
}

.sr_info {
	background: white;
}

span.topo {
	font-size:8px;
}

.inicio{
	font-size: 12px; 
	float: right;
	color: gray;
}
.inicioblack{
	font-size: 12px;
	float: right;
	color: black;
}