{{define "List-Anotacoes"}}
<!-- List Anotacoes -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
			<div class="row">
			  <div class="w3-third" style="">
	    		<a style="cursor:pointer;text-align: left" onclick="navGadget()">
					<h3>&#9776; {{.AppName}}</h3>
	    		</a>
			  </div>
			  <div class="w3-third" style="">
				<h3>{{.Title}}</h3>
			  </div>
			  <div class="w3-third" style="text-align: right;padding:10px;font-size:1vw;">
				{{$allowed := (call .LoggedUser.HasPermission "createAnotacao")}}
				<div class="w3-half" style="text-align: right;">
				{{.LoggedUser.User.Name}} (&nbsp;{{.LoggedUser.User.RoleName}}&nbsp;)
				</div>
				<div class="w3-half">
					<span style="width:120px;">
						{{if $allowed}}
					    <a href="#" onclick="openCreateAnotacao()">
							<span class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></span>
						</a>&nbsp;
						{{end}}
					    <a href="/logout">
							<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
						</a>
					<span>
				</div>
			  </div>
			</div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable"
			id="tabela-anotacoes">
            <tr>
                <td style="vertical-align:middle;width: 5%;">Ord</td>
                <td style="vertical-align:middle;width: 5%;">Id</td>
                <td style="vertical-align:middle;width: 5%;">EFPC</td>
                <td style="vertical-align:middle;width: 20%;"><input 
						type="text" 
						value="" 
						placeholder="Assunto" 
						style="width:100%"
						onkeyup="filtraTabela(this, 'tabela-anotacoes', 1, 2)"></td>
				<td style="vertical-align:middle;width: 10%;">Matriz</td>
				<td style="vertical-align:middle;width: 5%;">Risco</td>
				<td style="vertical-align:middle;width: 5%;">Tendência</td>
				<td style="display:none">Descrição</td>
				<td style="display:none">Referência</td>
                <td style="vertical-align:middle;width: 10%;">Autor</td>
                <td style="vertical-align:middle;width: 10%;">Criado Em</td>
				<td style="vertical-align:middle;width: 10%;">Status</td>
				{{if $allowed}}
				<td style="vertical-align:middle;width: 20%;">Ações</td>
				{{end}}
            </tr>
            {{range $index, $anotacao := .Anotacoes}}
            <tr>
                <td style="vertical-align:middle">#{{$anotacao.Order}}</td>
                <td style="vertical-align:middle">{{$anotacao.Id}}</td>
                <td style="vertical-align:middle">{{$anotacao.EntidadeSigla}}
					<input type="hidden" value="{{$anotacao.EntidadeId}}">
				</td>
                <td style="vertical-align:middle;text-align:left">{{$anotacao.Assunto}}</td>
				<td style="vertical-align:middle">{{$anotacao.Matriz}}</td>
                <td style="vertical-align:middle">{{$anotacao.Risco}}</td>
                <td style="vertical-align:middle">{{$anotacao.Tendencia}}</td>
				<td style="display:none">{{$anotacao.Descricao}}</td>
                <td style="vertical-align:middle">{{$anotacao.AuthorName}}
					<input type="hidden" value="{{$anotacao.RelatorId}}">
					<input type="hidden" value="{{$anotacao.ResponsavelId}}">
				</td>
                <td style="vertical-align:middle">{{$anotacao.C_CriadoEm}}</td>
				<td style="vertical-align:middle">{{$anotacao.CStatus}}</td>
				{{if $allowed}}
                <td style="vertical-align:middle">
                    <button class="w3-btn w3-teal" onclick="contexto='edit';editAnotacao(this)">Editar</button>
                    <button class="w3-btn w3-red" onclick="deleteAnotacao(this)">Apagar</button>
                </td>
				{{end}}
            </tr>
            {{end}}
        </table>
    </div>
</div>
{{end}}