BODY {
	MARGIN: 0px; FONT: 12px verdana
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TH {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	LINE-HEIGHT: 16px; MARGIN: 12px 0px
}
TEXTAREA {
	FONT: 12px verdana
}
